:root {
  --display-height: 20%;
  --display-font-size: 7vh;
  --border: 4px solid lightgrey;
  --border-radius: 7.5px;
  --calculator-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.75);
  --calculator-background: lightgrey;
  --button-color: darkgrey;
  --clear-button-color: cornflowerblue;
  --operator-button-color: darkorange;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 2.5rem;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
}

.calculator, .calculator * {
  padding-left: 0;
  padding-right: 0;
}

.calculator {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 60vh;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--calculator-background);
  box-shadow: var(--calculator-shadow);
}

.display {
  height: var(--display-height);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: black;
}

.display-container {
  padding: 0 1rem;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
  font-size: var(--display-font-size);
  text-align: right;
}

.buttons-container {
  height: calc(100% - var(--display-height));
}

.buttons-container > * {
  height: 100%;
  background-color: var(--calculator-background);
}

.button {
  height: 20%;
  background-color: var(--button-color);
  border: var(--border);
  border-radius: var(--border-radius);
  user-select: none;
}

.button:active {
  box-shadow: inset 0 0 30px 10px rgba(0,0,0,0.25);
}

.button:hover {
  cursor: pointer;
}

[data-key=c], [data-key=ce] {
  background-color: var(--clear-button-color);
}

.right-container > .button:last-child {
  height: 40%;
}

.right-container > .button {
  background-color: var(--operator-button-color);
}

.center {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .calculator {
    height: 100vh;
  }
}
