:root {
  --display-height: 20%;
  --border: 3px solid lightgrey;
  --calculator-background: lightgrey;
  --button-color: darkgrey;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 2.5rem;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
}

.calculator {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 60vh;
  border: var(--border);
  border-radius: 5px;
  background-color: var(--calculator-background);
}

.calculator, .calculator * {
  padding-left: 0;
  padding-right: 0;
}

.display {
  height: var(--display-height);
  border: var(--border);
  background-color: black;
}

.buttons-container {
  height: calc(100% - var(--display-height));
}

.buttons-container > * {
  height: 100%;
}

.right-container > .button:last-child {
  height: 40%;
}

.left-container > .clear, .left-container > .clear-entry {
  background-color: cornflowerblue;
}

.right-container > .button {
  background-color: orange;
}

.button {
  height: 20%;
  background-color: var(--button-color);
  border: var(--border);
  border-radius: 7.5px;
}

.center {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .calculator {
    height: 100vh;
  }
}
